# Compiled object files and library
*.o
*.d
build/
lib/
docs/

# Example binaries and output
# (everything in an example folder except sources, inputs and scripts)
examples/*/*
!examples/*/*.cc
!examples/*/*.txt
!examples/*/*.sh
