# Compiled object files and library
*.o
*.d
build/
lib/
docs/

# Example binaries and output
examples/*/data/
examples/rydberg_chain_TEBD/rydberg_chain_TEBD
examples/rydberg_in_leaky_cavity/tn_rydberg_in_leaky_cavity
examples/collective_light_matter_unitary/tn_unitary_collective_light_matter_systems
examples/collective_light_matter_dissipative/tn_leaky_collective_light_matter_systems_dynamics
examples/dissipative_impurity_ising/tn_ising_model_impurity
examples/dissipative_impurity_ising/tn_ising_model_impurity_NNN_interactions
examples/dissipative_impurity_ising/tn_ising_model_impurity_measure
examples/dissipative_impurity_ising/tn_ising_model_impurity_measure_NNN
examples/dissipative_impurity_ising/tn_ising_model_pure
examples/dissipative_impurity_ising/DMRG_Ising_up_NNN
examples/ising_full_counting_statistics/TEBD_TLIC
examples/ising_full_counting_statistics/FULL_COUNTING_STATISTICS
examples/ising_full_counting_statistics/ENTROPY_HALF
examples/ising_full_counting_statistics/ENTROPY_ALL
examples/ising_full_counting_statistics/TLIC_compute_thermal
examples/*/*-g
examples/*/.debug_objs/
